/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {}

.sidebar {
	width: 80%;
/*	float: left;*/
}

.main-content {
	width: 80%;
	margin: 0 auto;
}

.sub-content {
	width: 80%;
	float: left;
}

.footer {}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */