/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {}

.main-content {
}

.main-content:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


.post {
	overflow: auto;
}
/* hint! */

.image {
	float: left;
	width: 25%;
/*	height: 300px;*/
}

.image img {
	min-height: 200px;
	max-height: 300px;

}

.post_excerpt {
	float: left;
	width: 70%;
	min-height: 200px;

}
