/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;

}


.header {
}

.header:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.logo {
	float: left;
	width: 25%;

}

.navigation {
	float: left;
	width: 75%;
}
.sidebar {
    float: left; 
    width: 25%; 
    height: 300px; 
}

.main-content {
    float: left; 
    width: 75%; 
    height: 300px; 
}

.footer {
    clear: both; /* to clear the floated elements above it. try removing me and see what happens. it might be more obvious if you add some margin to all the elements. */

}


