/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.header {}

.sidebar {
	float:left;
	width: 33.33%;
}

.main-content {
	float:left;
	width: 33.33%;
}

.sub-content {
	float:left;
	width: 33.33%;
}

.footer {
	clear:both;

}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */