/*/*/ /*--------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.todolist {
	border: solid gray;
	width: 30%;
	margin: 0 auto;

}

/* Individual Todo*/
.todo {
	width: 100%;
	
}

.todo:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;

}
/* Priority icon dot */
.icon {
	/*border: solid pink;*/
	float: left;
	/*clear: right;*/
}

/* Info of the todo, title and date */
.todo-info {
	/*border: solid blue;*/
	/*clear: right;*/
	float: left;
}

/* Title */
.todo-title {
	/*float: left;*/
	
}

/* Date */
.todo-date {
/*	border: solid purple;*/
}

/* Checkboxes! */
input[type=checkbox] {
	float: right;
/*	border: solid teal;*/
}*/*/
