/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
}

.header:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.logo {
	float: left;
	

}

.navigation {
	float: right;
	

}

.sidebar {
	
	float: left;
	width: 25%;
	height: 300px;

}

.main-content {
	
	overflow: auto;
}
/* hint! you have to contain the floated children elements. */

.sub-content {

	float: right;
	width: 75%;
	height: 150px;
	
}
.sub-content-2 {

	float: right;
	clear: right;
	width: 75%;
	height: 150px;
	
}

.footer {
	clear: both;
}


